* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    overflow-x: hidden;
    font-size: 1rem;
    font-family: 'Segoe UI', sans-serif;
}

.menu-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 3rem;
    padding: 1.25rem 1rem;
    z-index: 1000;
}

.nav-item {
    font-size: 1rem;
    position: relative;
    cursor: pointer;
    padding: 0.25rem 0
}

.nav-item:hover {
    text-decoration: underline;
}

.reservar-button {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    background-color: #000;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    text-decoration: none;
    font-size: 1rem;
    z-index: 1000;
}